<%= form_with model: @event do |form| %>
<div class="container shadow-lg w-50" >
  <div class="row justify-content-center p-5">
    <div class="col-12">
      <div>
        <%= form.label :name, class: "form-label" %><br>
        <%= form.text_field :name, class: "form-control"%>
      </div>

      <div>
        <%= form.label :description, class: "form-label"%><br>
        <%= form.text_area :description, class: "form-control"%>
      </div>

        <div>
        <%= form.label :vanue, class: "form-label" %><br>
        <%= form.text_field :vanue, class: "form-control"%>
      </div>

      <div>
        <%= form.label :event_type, class: "form-label"%><br>
        <%= form.text_field :event_type, class: "form-control"%>
      </div>

      <div>
        <%= form.label :start_date, class: "form-label" %><br>
        <%= form.datetime_field :start_date, class: "form-control"%>
      </div>

      <div>
        <%= form.label :end_date, class: "form-label" %><br>
        <%= form.datetime_field :end_date, class: "form-control"%>
      </div>
      
      <div>
        <%= form.label :is_paid, class: "form-label" %><br>
        <%= form.check_box :is_paid%>
      </div>

      <div>
        <%= form.submit :Submit, class: "btn btn-primary"%>
        <%= link_to "Back", :back%>
      </div>
      <% end %>
    </div>
  </div>
</div>