
<h1 class="text-center mt-5">Events</h1>
<div class="container">
  <div class="row ">
   <%@events.each do |event|%>
   <div class="col-3 my-4">
     
   <div class="card shadow-lg">
    <div class="img-hover img-hover-zoom--brightness">
       <img class="card-img-top" src=<%= asset_path('eventbg.jpg')%> >
    </div>
     <div class="card-body">
       <h5 class="card-title"><%= link_to event.name, event,style:"color:#d1410c;text-decoration: none;" %></h5>
       <p class="card-text"><%= event.description %></p>
       <%= link_to "Description", event ,class:"btn", style:"background-color:#d1410c; color:white;"%>
     </div>
   </div>
   </div>
   <%end%>
  <%#= link_to "Create Event", new_event_path %>
 </div>
</div>

<div ></div>
<%= paginate @events%>